<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">Customize your data set</h5>
        <div class="row">
             <div class="col-12 col-lg-6 mb-4">
               <label><span>Number of images generated</span></label>
               <ng-select [items]="numbers" [(ngModel)]="selectedNumber">
               </ng-select>
             </div>
          <div class="col-12 col-lg-6 mb-4">
            <label><span>Price</span></label>
            <input class="form-control"  name="price" value="2000" [disabled]="true"/>
          </div>
             <div class="col-12 col-lg-6 mb-4">
               <div class="custom-control custom-radio">
                 <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                 <label class="custom-control-label" for="customRadio1">Unique</label>
               </div>
               <div class="custom-control custom-radio">
                 <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                 <label class="custom-control-label" for="customRadio2">Non unique</label>
               </div>
             </div>
          <div class="col-12 col-lg-6 mb-4"></div>
          <div class="col-12 col-lg-6 mb-4">
            <label><span>Features</span></label>
            <ng-select [items]="people" [multiple]="true" bindLabel="name" [closeOnSelect]="false"
                       [(ngModel)]="selectedPeople">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-secondary btn-lg mb-1" style="
background-color: #2a93d5;
border-color: #2a93d5;
"
          (click)="btnClick();">Generate</button>
</div>
